header {
  padding: 2rem 3rem;
  box-shadow: var(--shadow);
  background-color: var(--elements);

  h1 {
    font-size: 1.5rem;
  }

  h1,
  p {
    color: var(--text);
  }

  div {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      p {
        font-size: 1rem;
      }

      img {
        filter: var(--svg-filter);
      }
    }
  }
}
