@import "../../../styles/main.scss";

div {
  box-shadow: var(--shadow);
  display: flex;
  gap: 1.5rem;
  background-color: var(--elements);
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  width: 100%;
  min-width: 30rem;

  @include desktop {
    max-width: 550px;
  }

  img {
    filter: var(--svg-filter);
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    color: var(--text);
    background-color: var(--elements);

    &::placeholder {
      color: var(--text);
    }
  }
}
